.cell{
    height: 65px;
    width: 65px;  
    font-size: 12px;
    color: black;
    border: 1px solid black;
}
 
.cube__face--front  { background: hsla( 60, 100%, 50%, 0.9); }
.cube__face--right  { background: hsla( 240, 100%, 25%, 0.7); }
.cube__face--back   { background: hsla(0, 0%, 100%, 0.9); }
.cube__face--left   { background: hsla(120, 100%, 50%, 0.7); }
.cube__face--top    { background: hsla(0, 100%, 50%, 0.7); }
<<<<<<< HEAD
.cube__face--bottom { background: hsla(24, 75%, 45%, 0.815); }
=======
.cube__face--bottom { background: hsla(30, 96%, 52%, 0.9); }
>>>>>>> eeb29b7fdf53a235e7c55e0c98d8fc89a156d463

