<form>
  <div class="scene">
    <div [class]="currentMovement">
        <div class="cube__face cube__face--front">
            <app-face-cube [face]="'front'" [currentFace]="currentCube.faceList[0]"></app-face-cube>
        </div>
        <div class="cube__face cube__face--back">
          <app-face-cube [face]="'back'" [currentFace]="currentCube.faceList[1]"></app-face-cube>
        </div>
        <div class="cube__face cube__face--right">
          <app-face-cube [face]="'right'" [currentFace]="currentCube.faceList[2]"></app-face-cube>
        </div>
        <div class="cube__face cube__face--left">
          <app-face-cube [face]="'left'" [currentFace]="currentCube.faceList[3]"></app-face-cube>
        </div>
        <div class="cube__face cube__face--top">
          <app-face-cube [face]="'top'" [currentFace]="currentCube.faceList[4]"></app-face-cube>
        </div>
        <div class="cube__face cube__face--bottom">
          <app-face-cube [face]="'bottom'" [currentFace]="currentCube.faceList[5]"></app-face-cube> 
        </div>
    </div>
  </div>
  <p class="radio-group">
      <label>
        <button (click)="change(0)">
          Front
        </button>
      </label>
      <label>
        <button (click)="change(1)">
          Right
        </button>
      </label>
      <label>
        <button (click)="change(2)">
          Back
        </button>
      </label>
      <label>
        <button (click)="change(3)">
          Left
        </button>
      </label>
      <label>
        <button (click)="change(4)">
          Top
        </button> 
      </label>
      <label>
        <button (click)="change(5)">
          Bottom
        </button> 
      </label>
      <select [(ngModel)]="mode" [ngModelOptions]="{standalone: true}">
        <option>Rows</option>
        <option>Columns</option>
      </select>
      <input [(ngModel)]="num" type="number" min="0" max="2" [ngModelOptions]="{standalone: true}">
      <select [(ngModel)]="direction" [ngModelOptions]="{standalone: true}" *ngIf="mode == 'Rows'">
        <option>Right</option>
        <option>Left</option>
      </select>
      <select [(ngModel)]="direction" [ngModelOptions]="{standalone: true}" *ngIf="mode == 'Columns'">
        <option>Up</option>
        <option>Down</option>
      </select>
      <label>
        <button (click)="move()">
          Move
        </button> 
      </label>
      <label>
        <button (click)="undo()">
            <i class="fas fa-arrow-left"></i>
        </button>  
      </label>
      <label>
        <button (click)="abolish()">
            <i class="fas fa-arrow-right"></i>
        </button>  
      </label>
      <label>
        <button (click)="reStart()">
          <i class="fas fa-undo"></i>
          ReStart
        </button>  
      </label>
      
    </p>
</form>

