 <div class="columnFlex">
    <div  id="cell" class="rowFlex" *ngFor="let cellList of currentFace.cellMatrix">
        <div  *ngFor="let cell of cellList">
            <app-cell  [currentCell]="cell"></app-cell>
        </div>
    </div>
</div>